uScript_Dev/Library/
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs.meta
uScript_Dev/Temp/
uScript_Dev/Assets/Gizmos/
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings.meta
uScript_Dev/Assets/Gizmos.meta
uScript_Dev/Assets/UnityVS/
uScript_Dev/Assets/UnityVS.meta
uScript_Dev/obj/
uScript_Dev/Assets/TEMP/
uScript_Dev/Assets/TEMP.meta
*.csproj
*.sln
*.booproj
*.pidb
*.unityproj
*.userprefs
*.suo