uScript_Dev/Library/
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs.meta
uScript_Dev/Temp/
uScript_Dev/Assets/Gizmos/
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings.meta
uScript_Dev/Assets/Gizmos.meta
