uScript_Dev/Library/
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs
uScript_Dev/Assets/uScriptProjectFiles/Editor/uScriptMenuLocation.cs.meta
uScript_Dev/Temp/
uScript_Dev/Assets/Gizmos/
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings
uScript_Dev/Assets/uScriptProjectFiles/uScriptSettings.settings.meta
uScript_Dev/Assets/Gizmos.meta
uScript_Dev/Assets/UnityVS/
uScript_Dev/Assets/UnityVS.meta
uScript_Dev/UnityVS.uScript_Dev.CSharp.Editor.csproj
uScript_Dev/UnityVS.uScript_Dev.CSharp.Plugins.csproj
uScript_Dev/UnityVS.uScript_Dev.CSharp.csproj
uScript_Dev/UnityVS.uScript_Dev.sln
uScript_Dev/obj/
uScript_Dev/Assembly-Boo-vs.booproj
uScript_Dev/uScript_Dev-csharp.sln
uScript_Dev/Assembly-Boo.booproj
uScript_Dev/Assembly-CSharp-Editor-vs.csproj
uScript_Dev/Assembly-CSharp-Editor.csproj
uScript_Dev/Assembly-CSharp-Editor.pidb
uScript_Dev/Assembly-CSharp-firstpass-vs.csproj
uScript_Dev/Assembly-CSharp-firstpass.csproj
uScript_Dev/Assembly-CSharp-firstpass.pidb
uScript_Dev/Assembly-CSharp-vs.csproj
uScript_Dev/Assembly-CSharp.csproj
uScript_Dev/Assembly-CSharp.pidb
uScript_Dev/Assembly-UnityScript-firstpass-vs.unityproj
uScript_Dev/Assembly-UnityScript-firstpass.pidb
uScript_Dev/Assembly-UnityScript-firstpass.unityproj
uScript_Dev/Assembly-UnityScript-vs.unityproj
uScript_Dev/Assembly-UnityScript.pidb
uScript_Dev/Assembly-UnityScript.unityproj
uScript_Dev/uScript_Dev.sln
uScript_Dev/uScript_Dev.userprefs
uScript_Dev/Assembly-Boo.pidb
uScript_Dev/Assets/TEMP/
uScript_Dev/Assets/TEMP.meta
uScript_Dev/.vs/uScript_Dev-csharp/v14/.suo
uScript_Dev/uScript_Dev.CSharp.Editor.csproj
uScript_Dev/uScript_Dev.CSharp.Plugins.csproj
uScript_Dev/uScript_Dev.CSharp.csproj
