// uScript Action Node

using System.Collections.Generic;

[NodePath("Actions/Variables/Lists/{NAME}")]
[NodeToolTip("Checks to see if a {NAME} is in a {NAME} List.")]

[FriendlyName("Is In List ({NAME})", "Checks to see if a {NAME} is in a {NAME} List.")]
public class {CLASS} : uScriptLogic
{
    private bool m_InList = false;
   
    // ================================================================================
    //    Output Sockets
    // ================================================================================
    //
    [FriendlyName("In List")]
    public bool InList { get { return m_InList; } }
 
    [FriendlyName("Not In List")]
    public bool NotInList { get { return !m_InList; } }
    
    // ================================================================================
    //    Input Sockets and Node Parameters
    // ================================================================================
    //
    [FriendlyName("Test If In List")]
    public void TestIfInList(
       [FriendlyName("Target", "The target {NAME}(s) to check for membership in the {NAME} List.")]
       {TYPE}[] Target,
      
       [FriendlyName("{NAME} List", "The {NAME} List to check.")]
       ref {TYPE}[] List,

       [FriendlyName("Found Index", "The index in the {NAME} List that Target is at (-1 if not found or multiple Targets are specified).")]
       out int Index
   )
   {
       List<{TYPE}> list = new List<{TYPE}>(List);
      
       m_InList = false;
       Index = -1;
       foreach ({TYPE} target in Target)
       {
           if (!list.Contains(target))
           {
               return;
           }
       }
      
       // if we get here, all items were in the list
       m_InList = true;

       // if there is only 1 target, return its index in the list
       if (Target.Length == 1)
       {
           Index = list.IndexOf(Target[0]);
       }
   }
}
